:root {
  --main-blue: #156064;
  --main-white: #F2F7F6;
  --secondary-blue: #A8D2DC;
  --main-yellow: #FFFA6C;
  --main-pink: #F7567C;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
   font-family: 'Poppins', sans-serif; 
}

body {
  margin: auto auto -1rem auto;
  line-height: 1.4;
  font-size: 1rem;
  color: var(--main-yellow);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-blue);
}

.italics {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.center {
   text-align: center;
}

/* Nav */

/* Hamburger Nav HTML/CSS referenced from Erik Terwan (Nov 24, 2015) at https://codepen.io/erikterwan/pen/EVzeRP */
.hamburger-nav {
    position: sticky;
    top: 0;
    padding: 0rem;
    height: 0rem;
    background: var(--main-yellow);
    color: var(--main-blue);
}

#menu-toggle {
    display: block;
    position: relative;
    top: 2rem;
    margin-left: 2rem; 
    z-index: 1;
}

#menu-toggle a {
    color: var(--main-blue);
    transition: color 0.3s ease;
}

#menu-toggle a:hover {
    color: var(--main-pink);
}

#menu-toggle input {
    display: block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: -0.75rem;
    left: -0.4rem;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menu-toggle span {
    display: block;
    width: 2.9rem;
    height: 0.2rem;
    margin-bottom: 0.7rem;
    position: relative;
    background: var(--secondary-blue);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}



#menu-toggle span: first-child {
    transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menu-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--main-blue);
}

#menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.1);
}

#menu-toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#hamburger-menu {
    position: absolute;
    width: 100%;
    margin: -10rem 0 0 -10rem;
    padding: 0 10rem 1rem 10rem;
    padding-top: 10rem;
    background: var(--main-yellow);
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#hamburger-menu li {
    margin: auto auto 0.5rem auto;
    font-size: 1.5rem;
}

#menu-toggle input:checked ~ ul {
    transform: none;
}

.hamburger-nav-icon {
  margin: auto 1rem auto auto;
  transition: transform 0.3s ease-out;
  color: var(--main-blue);
  font-size: 2rem; 
}

/* Traditional Nav (hidden on mobile) */

.nav {
  display: none;
    justify-content: space-between;
  width: 100%;
  background: var(--main-yellow);
  color: var(--main-blue);
}

.nav-hrefs {
  display: flex;
  margin-right: 2rem;
}

.nav-hrefs li {
    margin: auto 2rem auto auto;
    font-size: 1.25rem;
}

.nav-contacts {
    display: flex;
}

.nav-contacts li {
    font-size: 1rem;
}

.nav-menu a {
  display: block;
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.nav-icon {
  margin: auto 1rem auto auto;
  color: var(--main-blue);
  font-size: 2rem; 
}

/* Welcome */

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--main-blue);
}

.welcome h1 {
    font-size: 2rem;
    text-align: center;
}

.welcome p {
  font-size: 1.2rem;
  font-weight: 600;
  font-style: italic;
  color: var(--main-yellow);
}

/* Projects */

.projects {
    background-color:hsla(57,100%,71%,1);
background-image:
radial-gradient(at 81% 48%, hsla(209,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 76% 100%, hsla(209,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 62% 99%, hsla(210,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 47% 99%, hsla(210,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 90% 100%, hsla(211,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 8% 100%, hsla(8,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 36% 72%, hsla(145,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 29% 100%, hsla(104,0%,100%,1) 0px, transparent 50%),
radial-gradient(at 35% 15%, hsla(2,0%,100%,1) 0px, transparent 50%);
    color: var(--main-blue);
    padding-bottom: 0.1rem;
}

.projects-header {
    margin: auto auto 2rem 2rem;
    font-size: 2rem;
}

.projects-title {
    margin: auto auto 1rem 2rem;
    font-size: 1.1rem;
}

.projects-title-flex {
    display: none;
}

.projects-item {
    margin: auto auto 2rem auto;
}

.projects-item-section {
    margin: auto 2rem 0 2rem;
}

.projects-item-section h3 {
    font-size: 1rem;
}

.projects-img-portrait {
    margin: auto auto auto 1rem;
    height: 40%;
    object-fit: center;
    border: 5px solid black;
    border-radius: 5px;
}

.projects-img-landscape {
    width: 100%;
    height: 20%;
    object-fit: center;
    border: 5px solid black;
    border-radius: 5px;
}

.hyperlink {
    color: var(--main-pink);
    text-decoration: underline;
}

.projects-item-buttons {
    display: flex;
    flex-direction:row-reverse;
    cursor: pointer;
}

.projects-item-section button {
    margin: auto auto 1rem 1rem;
    height: 3rem;
    width: 4rem;
    font-size: 1rem;
    background-image: linear-gradient(90deg, var(--main-blue), var(--secondary-blue) 300%);
    color: white;
    border-radius: 0.2rem;
}

.ft1 {
    font-size: 0.9rem;
}

/* About */

.about {
    background-color:hsla(0,0%,100%,1);
    background-image:
radial-gradient(at 100% 100%, hsla(57,100%,71%,1) 0px, transparent 50%),
radial-gradient(at 18% 57%, hsla(342,0%,100%,1) 0px, transparent 50%);
    color: var(--main-blue);
}

.about-header {
    margin: auto auto 2rem 2rem;
    font-size: 1.5rem;
}

.about p {
    margin: auto 2rem 1rem 2rem;
}

.about a {
    text-decoration: none;
}

.tech-stack-text {
    margin: 2rem auto auto auto;
    font-size: 1rem;
    font-style: italic;
}

.tech-stack-grid {
    display: grid;
    margin: auto 1.5rem auto 1.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 50px;
    gap: 0.5rem;
}

.card {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 3rem;
    border-radius: 4px;
}

.tech-stack-grid img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.icons8 {
    display: flex;
    justify-content: flex-start;
    margin: 2rem auto auto 2rem;
    font-size: 0.7rem;
}

/* Contact */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--main-blue);  
}

.contact-header {
    font-size: 1.5rem;
}

form {
    width: 100%;
}

.form-group {
    margin: 1rem;
}

input {
    height: 3rem;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 0.2rem;
}

#input-message {
    height: 10rem;
    width: 100%;
    font-size: 1.5rem;
    font-family: inherit;
    border-radius: 0.2rem;
}

.end {
    text-align: end;
}

#btn-form-submit {
    margin: auto 0.9rem 2rem 2rem;
    height: 4rem;
    width: 8rem;
    font-size: 1.5rem;
    font-family: inherit;
    background-image: linear-gradient(to right, var(--main-pink), var(--main-yellow) 300%);
    color: var(--main-white);
    border-radius: 0.4rem;
    cursor: pointer;
}

/* Footer */

footer {
  background: var(--main-yellow);
  color: var(--main-blue);
}

.contact-links {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.contact-icon {
  margin: 1rem 1rem 1rem 1rem;
  transition: transform 0.3s ease-out;
  color: var(--main-blue);
  font-size: 2rem;
  text-shadow: 1px 1px 1px #404006;  
}

.footer-top {
    display: flex;
    justify-content: center;
    height: 3rem;
    background: var(--main-blue);
    font-size: 2rem;
    text-align: center;
}

.footer-top a {
    width: 100%;
}

.footer-top-arrow {
    margin: auto auto auto auto;
    transition: transform 0.3s ease-out;
    color: var(--main-yellow);
}



/** Media Queries **/

/* Tablet */
@media all and (min-width: 768px) {
    .hamburger-nav {
        display: none;
    }
    
    .nav {
        display: flex;
        position: fixed;
    }
    
    .projects-title {
        display: none;
    }
    
    .projects-title-flex {
        display: block;
        margin: 3rem auto 1rem auto;
        font-size: 1.1rem;
    }
    
    .projects-item {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .projects-item-section {
        margin: auto;
        max-width: 20rem;
        align-items:flex-start
    }
    
    .projects-img-portrait {
        margin: auto auto auto 3rem;
        width: 70%;
    }
    
    .projects-item-buttons {
        margin: auto 1rem auto auto;
    }
    
    .projects-item-section p {
        text-align: start;
    }
    
    tech-stack-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    
    #btn-form-submit {
        color: white;
    }
    
    
}

/* Laptop */
@media all and (min-width: 1024px) {
        
    .nav a:hover {
        color: var(--main-pink);
    }
    
    #btn-form-submit {
        color: pink;
    }
    
    .projects-item-section img:hover {
        background-color: #fff;
        opacity: 0.12;
    }
    
    .contact-icon:hover {
        transform: translateY(-5px); 
        color: var(--main-pink);
    }
    
    .footer-top-arrow:hover {
        transform: translateY(-3px); 
        color: var(--main-pink);
    }
}

/* Desktop */
@media all and (min-width: 1200px) {
    #btn-form-submit {
        color: var(--main-blue);
    }
}


@media only screen and (orientation: landscape) {
    
}