:root {
  --main-blue: #156064;
  --main-white: #F2F7F6;
  --secondary-blue: #A8D2DC;
  --main-yellow: #FFFA6C;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth:
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  line-height: 1.4;
  margin: 0;
  color: var(--main-yellow);
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-blue);
}

img {
  display: block;
  width: 20%
}

/* nav */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: var(--main-yellow);
  color: var(--main-blue);
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

.nav-list a:hover {
  background: #FFFED6;
  border-radius: 5px;
}

.nav-list a {
  display: block;
  font-size: 2.5rem;
  padding: 2rem;
  font-weight: 600;
}

/* Welcome Section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 125vw;
  background-color: var(--main-blue);
}

.welcome-section p {
  font-size: 3rem;
  font-weight: 300;
  font-style: italic;
  color: var(--main-white);
}

/* Projects Section */

.gallery {
    padding: 0 0 2vw 0;
  border-top: 1px solid #E8D7FF;
  background: var(--main-white);
}

.gallery h3 {
  color: var(--main-blue);
  font-size: 10vw;
  text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.photo-grid {
    display: grid;
    gap: 1rem;
    
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}

a.overclick {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    opacity: 0;
    text-indent: -999em;
}
a.overclick:hover {
    background-color: #fff;
    opacity: 0.12;
}

/* Contact Me */

.contactme-section {
  background: var(--main-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactme-section h2 {
    font-size: 4rem;
}

.contactme-section a {
  padding: 1rem;
}

form {
    width: 60rem;
    font-family: 'Poppins', sans-serif;
}

.form-group {
    margin: 2rem;
}

input {
    border-radius: 10px;
    height: 7rem;
    width: 100%;
    font-size: 3rem;
}

#input-message {
    border-radius: 10px;
    height: 30rem;
    width: 100%;
    font-size: 3rem;
    font-family: inherit;
}

#form-submit {
    height: 5rem;
    width: 10rem;
    font-size: 2.5rem;
    font-family: inherit;
}



.contact-details:hover {
  transform: translateY(8px); 
}

/* Footer */

footer {
  background: var(--main-yellow);
  color: var(--main-blue);
}



.contact-links {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.contact-details {
  color: var(--main-blue);
  font-size: 5rem;
  text-shadow: 2px 2px 1px #404006;
  transition: transform 0.3s ease-out;
  margin: 2rem 3rem 2rem 3rem;
}

.footer-top {
    background: var(--main-blue);
    font-size: 5rem;
    display: flex;
    justify-content: center;
    height: 9rem;
}

.footer-top-arrow {
    color: var(--main-yellow);
    margin: 3rem auto auto auto;
}