:root {
  --main-blue: #156064;
  --main-white: #F2F7F6;
  --secondary-blue: #A8D2DC;
  --main-yellow: #FFFA6C;
  --main-pink: #F7567C;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
   font-family: 'Poppins', sans-serif; 
}

body {
  margin: auto auto -1rem auto;
  line-height: 1.4;
  font-size: 1.8rem;
  color: var(--main-yellow);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-blue);
}

.italics {
    font-style: italic;
}

/* Nav */

/* Hamburger Nav HTML/CSS referenced from Erik Terwan (Nov 24, 2015) at https://codepen.io/erikterwan/pen/EVzeRP */
.hamburger-nav {
    position: sticky;
    top: 0;
    padding: 0rem;
    height: 0rem;
    background: var(--main-yellow);
    color: var(--main-blue);
}

#menu-toggle {
    display: block;
    position: relative;
    top: 5rem;
    margin-left: 5rem; 
    z-index: 1;
}

#menu-toggle a {
    color: var(--main-blue);
    transition: color 0.3s ease;
}

#menu-toggle a:hover {
    color: var(--main-pink);
}

#menu-toggle input {
    display: block;
    width: 6rem;
    height: 5.5rem;
    position: absolute;
    top: -1rem;
    left: -1rem;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menu-toggle span {
    display: block;
    width: 5rem;
    height: 0.6rem;
    margin-bottom: 1rem;
    position: relative;
    background: var(--secondary-blue);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menu-toggle span: first-child {
    transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menu-toggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--main-blue);
}

#menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#hamburger-menu {
    position: absolute;
    width: 46.22rem;
    margin: -10rem 0 0 -10rem;
    padding: 0 10rem 5rem 10rem;
    padding-top: 12.5rem;
    background: var(--main-yellow);
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#hamburger-menu li {
    padding: 2rem 0;
    font-size: 4rem;
}

#menu-toggle input:checked ~ ul {
    transform: none;
}

.nav-icon {
  margin: auto 3rem auto auto;
  transition: transform 0.3s ease-out;
  color: var(--main-blue);
  font-size: 5rem; 
}

/* Traditional Nav (hidden on mobile) */
.nav {
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  background: var(--main-yellow);
  color: var(--main-blue);
}

.nav-menu {
  display: flex;
  margin-right: 2rem;
}

.nav-menu a:hover {
  background: #FFFED6;
  border-radius: 5px;
}

.nav-menu a {
  display: block;
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
}


/* Welcome */

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--main-blue);
}

.welcome h1 {
    font-size: 6rem;
}

.welcome p {
  font-size: 3rem;
  font-weight: 600;
  font-style: italic;
  color: var(--main-yellow);
}

/* Projects */

/*
.gallery {
  padding: 0 0 2vw 0;
  border-top: 1px solid #E8D7FF;
  background: var(--main-white);
}

.gallery h3 {
  text-align: center;
  font-size: 10vw;
  color: var(--main-blue);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    font-size: 3rem;
    border-radius: 4px;
}

.photo-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
}

a.overclick {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    opacity: 0;
    text-indent: -999em;
}

a.overclick:hover {
    background-color: #fff;
    opacity: 0.12;
} */

.projects {
    background: var(--main-yellow);
    color: var(--main-blue);
}

.projects-header {
    margin: auto auto 3rem 5rem;
    font-size: 5rem;
}

.projects-item {
    margin: auto auto 8rem auto;
}

.projects-item-section {
    margin: auto 5rem 0 5rem;
    
}

.projects-item-bkg {
    background-image: linear-gradient(135deg, var(--secondary-blue), var(--main-blue) 110%);
    border-radius: 1rem;
}

.projects-item-section h3 {
    font-size: 2rem;
}

.projects-img-portrait {
    margin: auto auto auto 2.5rem;
    width: 90%;
}

.projects-img-landscape {
    margin: auto auto auto 2.5rem;
    width: 90%;
    height: 25%
}

.projects-item-section img:hover {
    background-color: #fff;
    opacity: 0.12;
}

.projects-item-buttons {
    display: flex;
    flex-direction:row-reverse;
    cursor: pointer;
}

.projects-item-section button {
    margin: auto auto 2rem 2rem;
    height: 7rem;
    width: 10rem;
    font-size: 2.5rem;
    background:  var(--main-blue);
    color: var(--main-white);
    border-radius: 0.7rem;
}



/* About */

.about {
    background: var(--secondary-blue);
}

.about-header {
    margin: auto auto 3rem 5rem;
    font-size: 3rem;
}

.tech-stack-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto auto auto auto auto;
    grid-auto-rows: 120px;
    margin: auto 2rem auto 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    font-size: 3rem;
    border-radius: 4px;
}

.icons8 {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
}


/* Contact */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--main-blue);  
}

.contact-header {
    font-size: 4rem;
}

form {
    width: 60rem;
}

.form-group {
    margin: 2rem;
}

input {
    height: 7rem;
    width: 100%;
    font-size: 3rem;
    border-radius: 0.5rem;
}

#input-message {
    height: 30rem;
    width: 100%;
    font-size: 3rem;
    font-family: inherit;
    border-radius: 0.5rem;
}

.end {
    text-align: end;
}

#btn-form-submit {
    margin: auto 2rem 5rem 2rem;
    height: 10rem;
    width: 17rem;
    font-size: 3rem;
    font-family: inherit;
    background-image: linear-gradient(to right, var(--main-pink), var(--main-yellow) 300%);
    color: var(--main-white);
    border-radius: 0.7rem;
    cursor: pointer;
}

/* Footer */

footer {
  background: var(--main-yellow);
  color: var(--main-blue);
}

.contact-links {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.contact-icon {
  margin: 2rem 3rem 2rem 3rem;
  transition: transform 0.3s ease-out;
  color: var(--main-blue);
  font-size: 5rem;
  text-shadow: 2px 2px 1px #404006;  
}

.contact-icon:hover {
  transform: translateY(8px); 
  color: var(--main-pink);
}

.footer-top {
    display: flex;
    justify-content: center;
    height: 9rem;
    background: var(--main-blue);
    font-size: 5rem;
}

.footer-top-arrow {
    margin: 2rem auto auto auto;
    transition: transform 0.3s ease-out;
    color: var(--main-yellow);
}

.footer-top-arrow:hover {
    transform: translateY(8px); 
    color: var(--main-pink);
}